<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>PIZZE</h1>
	<form
		method="GET"
		action="/pizza/search"
	>
		<label>Name:</label>
		<input type="text" name="query">  
		<input type="submit" value="SEARCH">	
	</form>
	<h2
		th:if="${pizzas.size() < 1}"
	>NON CI SONO PIZZE PRESENTI AL MOMENTO</h2>
	<ul
		th:unless="${pizzas.size() < 1}"
	>
		<li
			th:each="pizza : ${pizzas}"
			th:object="${pizza}"
		>
			([[*{id}]]) [[*{name}]] - [[*{price}]]<br>
			[[*{description}]]<br th:if="*{description}">
			<a
				th:href="@{/pizza/update/{id} (id=*{id})}"
			>
				UPDATE
			</a> - 
			<a
				th:href="@{/pizza/delete/{id} (id=*{id})}"
			>
				DELETE
			</a>
		</li>
	</ul>
</body>
</html